* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #f7f7f7;
  color: rgb(248, 248, 248);
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

label {
  margin-right: .5rem;
}

button {
  padding: .5rem;
  width: 50%;
  border: none;
}

.options, .options-color {
  display: flex;
  flex-direction: column;
}

.options {
  background-color: rgb(64, 76, 253);
  color: #f7f7f7;
  min-width: 15rem;
  max-width: 25%;
  height: 80vh;
  margin: 3rem 2.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 2rem;
}

.options-color {
  justify-content: center;
  gap: 1rem;
}

.color-pen-container, .color-background-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* input[type="color"] {

} */

.grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  height: 80vh;
  margin: 3rem 4rem 3rem 3rem;
  background-color: rgb(255, 35, 35);
  padding: 1rem;
  border-radius: 10px;
}

.grid-item {
  background-color: #f7f7f7;
  border: 1px solid black;
  flex-basis: 25%;
}

.grid-item:hover {
  filter: brightness(95%);
}




/* .container {
    display: inline-block;
}

.container-right {
  float: right;
}

.container-left{
  background-color: #555555;
  margin: 2vw;
  padding: 0 1em;
  width: 20vw;
  height: 90vh;
  display: inline-block;
  text-align: center;
}

.container-left-options {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin-top: 2rem;
}

.options-color {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button {
  padding: 0.5rem;
  margin: 0 3vw;
}

.container-grid {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
} */
