* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-items: #F2F2F2;
  --responsive: 6.25%;
}


body {
  background-color: #F2F2F2;
  color: rgb(248, 248, 248);
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

label {
  margin-right: .5rem;
}

button {
  padding: .5rem;
  width: 50%;
  border: none;
  background-color: #F2F2F2;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(95%);
}

.options, .options-color {
  display: flex;
  flex-direction: column;
}

.options {
  background-color: #764AF1;
  color: #f7f7f7;
  min-width: 15rem;
  max-width: 25%;
  height: 80vh;
  margin: 3rem 2.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  /* border: 10px solid #9772FB; */
}

.options-color {
  justify-content: center;
  gap: 1rem;
}

.color-pen-container, .color-background-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="color" i] {
  width: 4rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 30rem;
  height: 80vh;
  margin: 3rem 10rem 3rem 3rem;
  background-color: #F32424;
  /* box-shadow: 12px 12px 2px 1px hsl(0, 90%, 50%); */
  padding: 1.5rem;
  border-radius: 18px;
}

.grid-item {
  background-color: var(--background-items);
  border: 1px solid black;
  /* flex-basis: 16.6%; */
  flex-basis: var(--responsive);
}

.grid-item:hover {
  filter: brightness(95%);
}

